
// Sacredhands Theme

// Base fonts
@font-face {
    font-family: 'Texgyreadventor'; 
    src: url("../fonts/texgyreadventor-regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'TexgyreadventorBold'; 
    src: url("../fonts/texgyreadventor-bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'TexgyreadventorItalic'; 
    src: url("../fonts/texgyreadventor-italic.otf") format("opentype");
    font-style: italic;
    font-weight: 400;
}

// Secondary font

@font-face {
    font-family: 'Youth and beauty'; 
    src: url("../fonts/youth-and-beauty.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}


//  Breakpoints
//------------------------------------------------------------------------------
$mobile: 'screen' pxtoem(320); // 320px and up
$mobile-large: 'screen' pxtoem(480); // 480px and up
$tablet-small: 'screen' pxtoem(600);
$tablet: 'screen' pxtoem(768); // 768px and up
$tablet-large: 'screen' pxtoem(940); // 940px and up
$desktop: 'screen' pxtoem(1200);
$desktop-large: 'screen' pxtoem(1600);


// Base
$max-content-width: 1240px;
$grid-outer-padding: 20px;
$grid-outer-padding--tablet-small: 25px;
$grid-outer-padding--tablet: 30px;
$grid-outer-padding--tablet-large: 40px;
$grid-outer-padding--desktop: 50px;
$margin-bottom: pxtoem(20); // to be added to all components for consistency

// Fonts
//------------------------------------------------------------------------------
$base-font-family: 'Texgyreadventor', Arial, sans-serif;
$base-font-family--bold: 'TexgyreadventorBold', Arial, sans-serif;
$base-font-family--italic: 'TexgyreadventorItalic', Arial, sans-serif;
$secondary-font-family: 'Youth and beauty', Arial, sans-serif;

// Colours
//------------------------------------------------------------------------------

$black: #000;
$white: #fff;

$green1: #97bf32;
$green2: #81A32B;

$grey1: #333;
