.main-content {
	background: {
		image: url('../images/shutterstock_128768312_3.jpg');
		position: 43% 10%;
		repeat: no-repeat;
		size: cover;
	}
	color: $white;

	.main-content__section {
		background-color: rgba(0, 0, 0, 0.5);
		margin: 0 (-$grid-outer-padding);
		padding: pxtoem(30) $grid-outer-padding;

		@include breakpoint($tablet-small) {
			margin: pxtoem(50) (-$grid-outer-padding--tablet-small);
			padding: pxtoem(30) $grid-outer-padding--tablet-small;
		}

		@include breakpoint($tablet) {
			margin: pxtoem(50) (-$grid-outer-padding--tablet);
			padding: pxtoem(30) $grid-outer-padding--tablet;
		}

		@include breakpoint($tablet-large) {
			margin: pxtoem(50) (-$grid-outer-padding--tablet-large);
			padding: pxtoem(30) $grid-outer-padding--tablet-large;
		}

		@include breakpoint($desktop) {
			margin: pxtoem(50) (-$grid-outer-padding--desktop);
			padding: pxtoem(30) $grid-outer-padding--desktop;
		}
	}
}