.navigation {
	background-color: $green1;

	.navigation__menu-items {
		list-style-type: none;
		padding-left: 0;
	}

	.navigation__menu-items {
		margin: 0;
		padding-top: pxtoem(10);

		@include breakpoint($tablet-small) {
			padding-top: pxtoem(5);
		}

	}

	.navigation__menu-item {
		display: inline-block;
		line-height: pxtoem(24);
		margin-bottom: pxtoem(15);
		padding: 0;
		text-align: center;
		width: 49%;

		@include breakpoint($tablet-small) {
			margin: 0 5% pxtoem(10) 0;
			width: auto;
		}

		@include breakpoint($tablet-large) {
			margin-right: 7%;
		}


		&:last-of-type {
			@include breakpoint($tablet-small) {
				margin-right: 0;
			}
		}

		a {
			color: $white;
			display: inline-block;
			font-family: $base-font-family--italic;
			padding: pxtoem(10);
			text-decoration: none;
			transition: all 0.15s;

			&:focus,
			&:hover {
				text-shadow: 1px 1px 1px $black;
			}
		}
	}

	.navigation__menu-item--active-trail {
		background-color: $green2;
		position: relative;

		@include breakpoint($tablet-small) {
			background-color: transparent;
		}

		&:after {

			@include breakpoint($tablet-small) {
				background-color: $green1;
				border-radius: 0 0 20px 20px;
				content: '';
				display: block;
				height: pxtoem(20);
				position: absolute;
				top: pxtoem(50);
				width: 100%;
			}
		}
	}
}